<div id="cohort_big_div">
    <h1>Cohorts#index</h1>
    <p>Custom range slider:</p>
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider slider2 slider3" id="myRange">
        <input type="range" min="1" max="100" value="50" class="slider slider2 slider3" id="myRange">
        <input type="range" min="1" max="100" value="50" class="slider slider2 slider3" id="myRange">
        <input type="range" min="1" max="100" value="50" class="slider slider2 slider3" id="myRange">
        <input type="range" min="1" max="100" value="50" class="slider slider2 slider3" id="myRange">

</div>