<h1>Instructor</h1>
<table class="ui selectable inverted table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th class="right aligned">Education</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>12/13/1995</td>
      <td class="right aligned">Bachelors</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td>02/04/1965</td>
      <td class="right aligned">HS</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>01/03/1985</td>
      <td class="right aligned">Associates</td>
    </tr>
  </tbody>
</table>
<div id="instructor_layout">
</div>
